extends template.pug

block vars
  - let resume = htmlWebpackPlugin.options.resume

mixin headerContactInfo(icon, text)
  span
    i(class=`fa fa-${icon}`) &nbsp;
    span= text

mixin sectionHeading(text)
  div.head
    h2= text

mixin bullets(...items)
  ul
    each item in items
      li ■ #{item}

block content
  header
    div.head
      h1= resume.header.name
      h3= resume.header.title
    div.body
      +headerContactInfo("map-marker", resume.header.location)
      +headerContactInfo("phone"     , resume.header.phone)
      +headerContactInfo("envelope"  , resume.header.email)
      +headerContactInfo("linkedin"  , resume.header.linkedin)
      +headerContactInfo("github"    , resume.header.github)
  section
    +sectionHeading(resume.summary.label)
    div.body
      +bullets(...resume.summary.bullets)
  section
    +sectionHeading(resume.skills.label)
    div.body





//- mixin link(href, name)
//-   //- attributes == {class: "btn"}
//-   a(class!=attributes.class href=href)= name
//-
//- +link('/foo', 'foo')(class="btn")
